.GameProduct {
  margin-top: 20px;
  padding: 22px;

  &_title {
    color: #222;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
  }
  &_photo{
    margin-top: 20px;
    width: 100%;
  }

  &_card {
    width: 340px;
    height: 240px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;

    position: relative;

    &_titles {
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &_gameImg {
      width: 65%;
      position: absolute;
      right: 0;
      bottom: 0;

    }
  }

  &_names {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
  }
}