.library {


  .library-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      color: #2980b9;
    }
  }

  .upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .upload-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
      }

      input[type="text"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 200px;
      }

      input[type="file"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 200px;
      }

      .save-button {
        background-color: #2980b9;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #1a5b8a;
        }
      }
    }
  }

  .book-list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-between;

    .book-card {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      position: relative;
      padding: 10px;
      text-align: center;
      width: 22%;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;

      img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: #333;
      }

      a {
        display: block;
        margin-top: 10px;
        color: #2980b9;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
