@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$colorTitle: #2d3134;
$colorText: #0e3f41;
$colorBlack: #5b5f62;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  list-style: none;
}
body {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

a {
  text-decoration: none;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  color: #2d3134;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 34px;

}
.text {
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  // @media screen and (max-width: 745px) {
  //   font-size: 14px;
  // }
  // @media screen and (max-width: 576px) {
  //   font-size: 11px;
  // }
}
