@import "assets/styles/ui";
.home{
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
}

.content {
  width: 82%;
  height: 92.7vh;
  flex-grow: 1;
  border: 1px solid red;
  margin-top: 50px;
  overflow-y:scroll ;
  padding: 20px;
}