.test-creation {
  .add-question-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }

  .question-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .question-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .question-number {
        font-weight: bold;
        margin-right: 10px;
      }

      .question-text {
        flex: 1;
      }

      .question-actions {
        .question-action {
          margin-left: 10px;
          cursor: pointer;
          font-size: 18px;
          color: #007BFF;
          transition: color 0.3s ease;

          &:hover {
            color: #0056b3;
          }
        }
      }
    }

    li {
      list-style: none;;
    }

    .options-list {
      list-style-type: none;
      padding-left: 0;

      .option-item {
        display: flex;

        align-items: center;
        margin-bottom: 5px;

        input[type="radio"] {
          margin-right: 10px;
        }
      }
    }
  }

  &_list {
    margin: 20px;
    display: flex;

    flex-direction: column;
    gap: 20px;

    .question-item {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border: 1px solid #f0f0f0;

      .question-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .question-number {
          font-weight: bold;
          margin-right: 10px;
        }

        .question-text {
          font-size: 16px;
          flex-grow: 1;
        }

        .question-actions {
          display: flex;
          gap: 10px;

          .question-action {
            cursor: pointer;
            color: #007bff;

            &:hover {
              color: #0056b3;
            }
          }
        }
      }

      .options-list {
        list-style: none;
        padding: 0;

        .option-item {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;

          input[type="radio"] {
            margin-right: 10px;
            accent-color: #007bff;
          }

          label {
            cursor: pointer;
          }
        }
      }
    }
  }

  &-results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }
}

.test-summary {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.finish-test-btn {
  width: 100%;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.finish-test-btn:hover {
  background-color: #45a049;
}

