@import "assets/styles/ui";

.library {

  &_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #8D8484;

    &_homes {
      border: 1px solid black;
      background: white;
      padding: 5px 12px;
      position: relative;
    }
  }

  &_electron {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #003465;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 3px solid $color-blue;
  }

  &_bookCard {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_BookNames {
      width: 15%;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      font-weight: 400;
      font-size: 16px;
      padding: 18px;
      gap: 10px;
      margin-top: 20px;
      &_NN{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
      }
      &_bookImg{
        width: 40%;
        height: 50px;
        margin: 0 auto;
      }
      &_seemBook{
        //width: 50%;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        border-radius: 18px;
        background: $color-blue;
      }
    }
  }
}