.ProductSlider{
  margin-top: 20px;
  padding: 22px;
  &_title{
    color: #222;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &_boxes{
    width: 331px;
    height: 142px;
    margin-top: 20px;
    background: #F0F0F0;
    border: red;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    &_texts{
      margin-top: 15px;
      &_names{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 5px 0;
      }
      &_sales{
        color: #FF006B;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      &_adds{
        margin-top: 20px;
        border-radius: 8px;
        padding: 10px 20px;
        background: #222;
      }
    }
  }
}